[package]
name = "cpu57"
version = "1.0.0"
edition = "2021"
authors = ["CPScript"]

[build-dependencies]
cc = "1.0"

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = 3
lto = true
codegen-units = 1